.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        group name
      .main-header__left-box__current-menber

        menber
    
    =link_to "", class: "main-header__exit-btn" do
      Edit
  .messages
    .message
      .message__upper
        .message__upper__name
          wwe
        .message__upper__date
          9月
      .message-lower
        プログラミングむずかしい
  .form
    .form-bar
      .picture-icon
        =link_to "", class: "picture-icon" do
          = fa_icon 'image'
    .send-btn
      Send       